/**a for all links**/
a {
  text-align: left;
  text-decoration: none;
  text-emphasis: none;
  color: #80d7cf;
  font-size: 20px;
}

a:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}
